<lte-content-header title="ARLearn" [breadcrumb]="false">

  </lte-content-header>
<lte-content-row>
    <div class="col-lg-6">
      <lte-small-card title="kkka" [showBottomLink]="true" [bottomLinkText]="'play a game'" [faIcon]="'fa-gamepad'" [style]="'bg-info'">
        <h3>My Games</h3>
        <p>10 games</p>
      </lte-small-card>

      <lte-small-card title="kkka" [showBottomLink]="true" [bottomLinkText]="'start a game with a code'" [faIcon]="'fa-qrcode'"
        [style]="'bg-warning'">
        <h3>Scan</h3>
        <p>&nbsp;</p>
      </lte-small-card>



    </div>
    <div class="col-lg-6">
      <lte-small-card title="kkka" showBottomLink="true" [bottomLinkText]="'Store'" [faIcon]="'fa-shopping-cart'" [style]="'bg-danger'">
        <h3>Store</h3>
        <p>find games</p>
      </lte-small-card>
      <lte-small-card title="kkka" [showBottomLink]="true" [bottomLinkText]="'open'" [faIcon]="'fa-gear'" [style]="'bg-success'">
        <h3>Settings</h3>
        <p>&nbsp;</p>
      </lte-small-card>
    </div>

  </lte-content-row>